.sidebaroptions {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  color: var(--main-color);
  border-radius: 20px;
}

.svg {
  margin: 1rem;
}

.sidebaroptions p {
  color: white;
  margin: 0;
}

.sidebaroptions:hover {
  background-color: var(--main-color);
  color: var(--twitter-color);
  transition: color 0.15s;
  cursor: pointer;
}
.sidebaroptions:hover p {
  background-color: var(--main-color);
  color: var(--twitter-color);
  transition: color 0.15s;
}

.active-sidebar {
  color: var(--twitter-color);
}
.sidebaroptions .active-p {
  color: var(--twitter-color);
}
